<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div >
    <form id="searchForm" action="#" class="searchForm">
        <p id="info" class="searchForm__row">
            Введите (полностью или частично) название фильма, имя персоонажа или реального человека, жанр, ключевое слово или название кинокомпании.
        </p>
        <div class="searchForm__row">
            <input id="searchField" type="text" class="searchForm__searchField"/>
            <button id="searchBtn" type="button">Search</button>
            <!--<button id="luckyBtn" type="button">Lucky</button>-->
        </div>
    </form>
    <div id="result">
    </div>
</div>

</body>
</html>